[user]
    email = loicfontaine@fastmail.fm
    name  = Loïc Fontaine

[core]
    editor       = emacsclient -a mg
    excludesfile = ~/.gitignore

[diff]
    tool    = ediff
    guitool = ediff

[difftool]
    prompt = false

[difftool "ediff"]
    cmd = emacs -diff $LOCAL $REMOTE

[merge]
    tool = ediff

[mergetool]
    keepBackup = false
    prompt     = false

[mergetool "ediff"]
    cmd = emacs -merge $LOCAL $REMOTE $BASE $MERGED

#[url "https://"]
#  insteadOf = git://

[push]
    default = simple

[alias]
    unstage       = reset HEAD
    hist          = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    pr            = pull --rebase
    currentbranch = !git branch | grep \"^\\*\" | cut -d \" \" -f 2
