# -*-sh-*-

## Remaps CapsLock
setxkbmap -layout us -variant intl -option ctrl:swapcaps

## Set keyboard settings - 250 ms delay and 25 cps (characters per second) repeat rate.
## Adjust the values according to your preferances.
xset r rate 250 25

## Turn on/off system beep
xset b off

## Set screen display settings
xset s 300 60
xset dpms 600 700 800

# Guix fonts
[ -d "$HOME/.guix-profile/share/fonts/truetype" ] \
  && xset +fp $HOME/.guix-profile/share/fonts/truetype

## Detect and configure touchpad/mouse. See 'man xinput' for more info.
xinput list | grep "SynPS/2 Synaptics TouchPad"
if [ $? -eq 0 ]; then
    # Tapping Enabled
    xinput set-prop "SynPS/2 Synaptics TouchPad" 292 1
    # Natural Scrolling Enabled
    xinput set-prop "SynPS/2 Synaptics TouchPad" 280 1
fi

xinput list | grep "Logitech Anywhere MX"
if [ $? -eq 0 ]; then
    # Natural Scrolling Enabled
    xinput set-prop "Logitech Anywhere MX" 280 1
fi

## Restore screen layout
if [ -x ~/.screenlayout/default.sh ]; then
    ~/.screenlayout/default.sh
fi

## Set root window colour
xsetroot -solid "#222222"

## Restore wallpaper
if [ -e ~/.fehbg ]; then
    if [ -x ~/.fehbg ]; then
        ~/.fehbg
    else
        sh ~/.fehbg
    fi
fi

## Set urxvt settings
xrdb -merge ~/.Xresources
